.container {
  display: flex;
  //align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  .mainLeft {
    height: 100%;
    padding: 45px 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    //margin-bottom: 40px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #FFFFFF;
    .title{
      color: #444;
      font-size: 32px;
      margin-bottom: 30px;
      margin-top: 0; /* Tytuł na samej górze */
      line-height: 1.2; /* Zwiększona czytelność */
    }
    .content{
      h2{
        color: #DA4453;
        font-weight: 700;
      }
    }




  }

}